# Model and embeddings
backend/app/pytorch
backend/app/pytorch/

frontend/node_modules
frontend/package-lock.json

# Icons
frontend/src/icons
frontend/src/maps
frontend/src/symbols

frontend/App-Save.jsx

# Automation scripts (for now)

scripts

.DS_Store