# Model and embeddings
backend/app/pytorch
backend/app/pytorch/

frontend/node_modules
frontend/package-lock.json

# Icons
frontend/src/brawlerIcons/*
frontend/src/mapIcons/*
#frontend/src/symbols # these are small so they can be allowed


# Automation scripts (for now)

scripts

.DS_Store
.env
plausible-conf.env