# Staging environment for testing
# {
#     acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
# }

# Route traffic to the frontend service
brawlmind.com {	
	reverse_proxy frontend:3000
}

brawlmind.com /api/* {
	reverse_proxy backend:8889
}

plausible.brawlmind.com {
	reverse_proxy plausible:8000
}
