# Staging environment for testing - this avoids requesting too many TLS certificates
# {
#     acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
# }

# Route traffic to the frontend service
YOUR_DOMAIN_HERE {	
	reverse_proxy frontend:3000
}

# This always produces a warning message. Ignore it. This works.
YOUR_DOMAIN_HERE/api/* {
	reverse_proxy backend:8889
}

plausible.YOUR_DOMAIN_HERE {
	reverse_proxy plausible:8000
}
