# Staging environment for testing
{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Route traffic to the frontend service
draftstars.net {

	handle_path /api/* {
		reverse_proxy backend:8889
	}
	
	reverse_proxy frontend:3000 {
	 	@error status 502
		handle_response @error {
			root    * /error-pages
			rewrite * /{rp.status_code}.html
			file_server
		}
	}
}


# Route traffic to the backend service

plausible.draftstars.net {
	reverse_proxy plausible:8000
}
