.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* make the sections within the map select div show side by side */
.map-section {
    background-color: #eee;
    border-radius: 5px;
    width: 350px;
}

.map-select-div-upper {
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: space-between;
}

/* scale the map icon */
.map-select-div-upper img {
    height: 100px;
}

.map-select-div-upper p {
    margin: 5px;
}

/* The button, hidden and not hidden */
.toggle-map-section-visibility-button-showing {
    height: 100px;
    width: 30px;
    border: none;
    background-color: #dedede;
    border-radius: 5px;
}
.toggle-map-section-visibility-button-hidden {
    height: 30px;
    width: 30px;
    border: none;
    background-color: #dedede;
    border-radius: 5px;
}



/* Map search functionality */
.map-select-div-lower {
    padding: 3px;
    display: flex;             
    justify-content: center;  
}

/* Necessary, because the search bar which conditionally displays must have its own parent div */
.map-select-div-lower div {
   width: 100%;
}

.map-search-bar {
    width: 98%;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.5);
    border-radius: 2px;
}

.map-search-result-box {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.map-search-result {
    background-color: #ddd;
    margin: 2px 0px;
    border-radius: 4px;
}

.map-search-result p {
    padding-left: 3px;
}
.map-search-result img {
    padding-right: 3px;
}


.map-select-div-left-side {
    width: 220px;
}

.map-select-div-right-side {
    height: 120px;
}

.map-search-result {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.map-search-result img {
    height: 100%;
}



/* Animation for player boxes when selected */

@keyframes tint-pulse {
    0%, 100% {
        filter: sepia(0%) saturate(100%) brightness(80%) hue-rotate(0deg);
    }
    50% {
        filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
    }
}
.selected {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(210deg);
    animation: tint-pulse 1s infinite;
}
.unselected {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
}


.teams {
    background-color: #ddd;
    border-radius: 5px;
    width: 350px;
    display: flex;
    flex-direction: row;
}

.team-div {
    width: 183px;
    padding: 5px;
}

.blue-team {
    background-color: lightblue;
    border-radius: 5px 0px 0px 5px;
    justify-content: flex-end;
}
.red-team {
    background-color: lightcoral;
    border-radius: 0px 5px 5px 0px;
}

/* The box that the user clicks on to select a brawler */
.entry-box {
    width: 50px;
    height: 50px;
}

/* Make the brawler icon fit to the box*/
.entry-box img {
    height: 100%;
    width: 100%
}

.selected input{
    background-color: blue;
}

.team-div {
    display: flex;
    flex-direction: row;
}

.temp-input-box {
    width: 100%;
}

.brawler-gallery-search-results {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
}

.gallery-item {
    height: 30px;
    width: 30px
}

.gallery-item img {
    height: 100%;
    width: 100%
}