:root {
    --entry-box-image-sidelength: 65px;
    --prediction-box-height: 60px;
    --section-header-font-size: 22px;
    --map-search-result-height: 50px;
    --prediction-box-image-width: 110px;
    --confidence-box-font-size: 30px;


    

    --background-color: #fff;
    --secondary-color: #eee;
    --tertiary-color: #ddd;
    --quaternary-color: #ccc;
    --text-color: #000;    
    --secondary-text-color: #222;
    --selected-header-button-text-color: #026300;
}

@media (prefers-color-scheme: dark) {
    :root {
        

        --background-color: #222;
        --secondary-color: #333;
        --tertiary-color: #444;
        --quaternary-color: #555;
        --text-color: #fff;
        --secondary-text-color: red;
        --selected-header-button-text-color: #baffad;
    }
}



@media (max-width: 600px) {
    :root {
        --entry-box-image-sidelength: 55px;
    }
}

@media (max-width: 440px) {
    :root {
        --prediction-box-height: 40px;
        --section-header-font-size: 16px;
        --map-search-result-height: 40px;
        --prediction-box-image-width: 80px;
        --confidence-box-font-size: 20px
    }
}

/* Each brawler in brawl stars has a rarity */
.rarity-starter {    background-color: #8ecde8 }
.rarity-rare {       background-color: #29d100 }
.rarity-super-rare { background-color: #1a7de8 }
.rarity-epic {       background-color: #9411d6 }
.rarity-mythic {     background-color: #fc0064 }
.rarity-legendary {  background-color: #f5f505 }
    
.rarity-starter-accent {    background-color: #ade6ff }
.rarity-rare-accent {       background-color: #71f551 }
.rarity-super-rare-accent { background-color: #69acf5 }
.rarity-epic-accent {       background-color: #bc3ffc }
.rarity-mythic-accent {     background-color: #fa7070 }
.rarity-legendary-accent {  background-color: #fcfc97 }


@media (prefers-color-scheme: dark) {
.rarity-starter {           background-color: #76b2cc }
.rarity-rare {              background-color: #198000 }
.rarity-super-rare {        background-color: #002cbd }
.rarity-epic {              background-color: #7700b3 }
.rarity-mythic {            background-color: #a10040 }
.rarity-legendary {         background-color: #abc200 }
    
.rarity-starter-accent {    background-color: #8ecde8 }
.rarity-rare-accent {       background-color: #25bd00 }
.rarity-super-rare-accent { background-color: #2457ff }
.rarity-epic-accent {       background-color: #b524ff }
.rarity-mythic-accent {     background-color: #fc0064 }
.rarity-legendary-accent {  background-color: #ddf71b }
}


html {
    overflow-x: hidden;
}
/* Font */
.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Make inputs / buttons inherit the font */
input, button {
    font-family: inherit;
}

body {
    font-family: Lexend;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p, h3{
    font-size: var(--section-header-font-size);
}

/* Makes text elements unselectable */
.no-text-select {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Give all inputs an effect when selected */
input:focus {
    border-color: white;
    outline: none; 
}

.main {
    display: flex;
    padding: 0 10px 0 0; 
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #111;
    margin-top: 15px;
}

.footer p {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    max-width: 800px;
    text-align: center;
    padding: 0px 10px;
}

/* HOME */

@keyframes black-and-white-pulse {
    0%, 100% {
        filter: sepia(0%) saturate(0%) brightness(0%) hue-rotate(0deg);
    }
    40% {
        filter: sepia(0%) saturate(0%) brightness(30%) hue-rotate(0deg);
    }
}
@keyframes black-and-white-pulse-background {
    0%, 100% {
        background-color: black;
    }
    40%, 60% {
        background-color: #222;
    }
}

.home-screen-background-image {
    flex-grow: 1;
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
}
/* Move the brawler images closer to the center on mobile, 
   so that their faces don't get cut off */
@media (max-width: 500px) {
    .home-screen-background-image {
        transform: translate(-300px) 
    }
}


.pulsing-brawler-headshot {
    /* filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(210deg); */
    animation: black-and-white-pulse 4s infinite, black-and-white-pulse-background 4s infinite;
}
.pulsing-brawler-headshot-fast {
    /* filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(210deg); */
    animation: black-and-white-pulse 2s infinite;
}
.home-screen {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-screen-center {
    z-index: 2;
    color: white;
}

.home-screen h1 {
    font-size: 90px;
    margin: 10px;
}

.home-screen-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation-button {
    border: 1px solid #888;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
.navigation-button-selected {
    border: 1px solid #888;
    border-radius: 5px;
    /* color: var(--selected-header-button-text-color); */
    background-color: var(--tertiary-color);
}

.navigation-button h3 {
    margin: 10px;
    font-weight: 400;
}
.navigation-button-selected h3 {
    margin: 10px;
    font-weight: 400;
}
.navigation-button:hover {
    text-decoration: underline;
}
.navigation-button.homepage {
    background-color: #333;
}



/* LEFT SIDEBAR */

.sidebar {
    width: 300px;
    background-color: #1a1a1a;
    padding: 15px;
    position: fixed;
    height: 100%; 
    overflow-y: auto; 
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-page-selector {
    background-color: var(--background-color);
    border-radius: 8px;
    font-weight: 300;
    padding: 3px;
}
.sidebar-page-selector.active {
    background-color: --secondary-color;
}

@media (max-width: 791px) {
    .sidebar {
      transform: translateX(-100%); /* Move out of view by default on mobile */
    }
    .sidebar.open {
      transform: translateX(0); /* Slide in on mobile when open */
    }
  }
  

.toggle-button {
    display: none;
    margin-bottom: 20px;
}
  
@media (max-width: 791px) {
    .toggle-button {
        display: block;
    }
}

.input-page {
    /* flex-grow: 1; */
    margin-left: 0;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding: 10px
    /* width: max-content */
}

.empty-space-for-sidebar {
    min-width: 340px;
    transition: min-width 0.3s;
}
.empty-space-for-sidebar.hidden {
    min-width: 0px;
    width: 0px;
}
/* .input-page.with-sidebar {
    margin-left: 340px /* makes room for sidebar */


.empty-space {
    height: 500px;
}

/* make the sections within the map select div show side by side */
.section {
    background-color: var(--secondary-color);
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px /* add this to input-page? */
}

/* Sections for Ranked Prediction screen behave differently */

.section-active {
    background-color: var(--secondary-color);
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--tertiary-color);
}

.section-inactive {
    background-color: var(--secondary-color);
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px;
}
.section-inactive p {
    color: #666
}



/* @media (min-width: 1000px) {
    .section {
        width: 700px
    }
} */

.section-upper-part {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
}

.section-upper-part-left {
    display: flex;
    flex-direction: row;
    padding: 6px;
    justify-content: space-between;
}

.section-upper-part-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3px;
    border-radius: 8px;

    color: var(--text-color);
}
.section-upper-part-right:hover {
    background-color: var(--tertiary-color);
}

.section-upper-part p {
    margin: 5px;
}

/* Map search functionality */
.section-lower-part {
    padding: 3px;
    display: flex;
    flex-direction: column;       
    justify-content: center; 
}

.search-bar {
    background-color: var(--secondary-color);
    color: white;
    width: 99%;
    border: 1px solid var(--quaternary-color);
    border-radius: 2px;
    padding: 4px 3px;
    font-size: 18px;
}

.map-search-result-box {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.map-search-result {
    background-color: var(--tertiary-color);

    transition: background-color 0.2s ease; /* Smooth transition */
    margin: 2px 0px;
    border-radius: 4px;
    align-items: center;
    height: var(--map-search-result-height);
    display: flex;
    justify-content: space-between;
}

.map-search-result:hover {
    background-color: var(--quaternary-color);
}

.map-search-result p {
    padding-left: 3px;
    margin: 0;
}
.map-search-result img {
    padding-right: 3px;
}


.map-select-div-left-side {
    width: 220px;
}

.map-select-div-right-side {
    height: 120px;
}

.map-search-result img {
    height: 100%;
}

.engine-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 700px;
    
    justify-content: space-between;
}
/* .engine-page-header h2 {
    padding-left: 10px;
}
.engine-page-header p {
    padding: 5px;
} */
.reset-button {
    /* height: 40px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #888;
    border-radius: 5px;
}
.reset-button:hover {
    background-color: var(--tertiary-color);
}

.reset-icon {
    filter: invert(100%); /* default is black. make it white */
    height: 20px;
    padding-left: 8px; /* space between icon and text */
}
.reset-button-text {
    margin: 10px;
    font-weight: 400;
}



.about-page {
    /* max-width: 800px; /* I don't like when pages are super wide. */
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    align-items: center;
    padding: 10px
}
.about-page h1, h2, p {
    max-width: 700px;
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.about-page h2 {
    font-weight: normal;
    margin-top: 10px;
}

.header {
    display: flex;
    flex-direction: row;
}

.about-page h1 {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-page p {
    font-size: 16px;
    font-weight: 300;
}
.about-page-header {
    width: 100%;
    max-width: 700px;
}

.social-media-image-link-row {
    height: 40px;
    width: 100%;
    max-width: 700px;
    /* margin-left: 15px;
    margin-right: 15px; */
}
.social-media-image-link-row img {
    height: 100%;
    filter: invert(100%); /* default is black. make it white */
}

.social-media-image-link-row img:hover {
    filter: sepia(50%) saturate(100%) brightness(50%);
}




/* RANKED - First pick section */

.first-pick-section {
    display: flex;
    justify-content: space-evenly;
}
.thumb-div {
    width: 80px;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
}
.thumb-div:hover {
    background-color: var(--tertiary-color);
}
.selected-thumb {
    width: 80px;
    background-color: var(--tertiary-color);
    border-radius: 6px;
}
.unselected-thumb {
    width: 80px;
}
.thumb-div img {
    width: 100%;
}
.thumb-div p {
    margin: 3px;
    text-align: center;
}

/* bans section */
.ban-box {
    width: var(--entry-box-image-sidelength);
    height: 85px;
    transition: transform 0.15s ease-in-out;
    overflow: hidden;
    z-index: 0;
}
.ban-box img {
    height: var(--entry-box-image-sidelength);
}
.ban-placeholder {
    margin: 0;
    height: 85px;
    color: grey;
    text-align: center;
}


/* Brawler section */

/* Animation for player boxes when selected */
@keyframes light-theme-tint-pulse {
    0%, 100% {
        filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
    }
    50% {
        filter: sepia(0%) saturate(100%) brightness(120%) hue-rotate(0deg);
    }
}
@keyframes dark-theme-tint-pulse {
    0%, 100% {
        filter: sepia(0%) saturate(100%) brightness(70%) hue-rotate(0deg);
    }
    50% {
        filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
    }
}


.selected {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(210deg);
    animation: light-theme-tint-pulse 1s infinite;
}

.unselected {
    filter: sepia(0%) saturate(100%) brightness(120%) hue-rotate(0deg);
}

@media(prefers-color-scheme: dark){
    .selected {
        filter: sepia(0%) saturate(100%) brightness(70%) hue-rotate(210deg);
        animation: dark-theme-tint-pulse 1s infinite;
    }
    .unselected {
        filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
    }
}


.teams {
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; /* 6th box is pushed back otherwise */
}


.team-div {
    /* width: 183px; */
    padding: 3px;
}

.blue-team {
    background-color: #2574E2;
    border-radius: 4px 0px 0px 4px;
    justify-content: flex-end;
}
.red-team {
    background-color: red;
    border-radius: 0px 4px 4px 0px;
}

/* The box that the user clicks on to select a brawler */
.entry-box {
    width:  var(--entry-box-image-sidelength);
    height: var(--entry-box-image-sidelength);
    transition: transform 0.15s ease-in-out;
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.selectable-entry-box:hover {
    transform: scale(1.05); /* Adjust the scale factor as needed */
    z-index: 1;
}

/* Make the brawler icon fit to the box*/
.entry-box img {
    height: 100%;
}

/* MiniBanBox: what is shown when the bans section is hidden */
.mini-ban-boxes {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    height: 100%;
}
.mini-ban-box {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: 1px solid red;
    position: relative;
}
.mini-ban-box img {
    height: 100%;
}



.team-div {
    display: flex;
    flex-direction: row;
}

.temp-input-box {
    width: 100%;
}

.brawler-gallery {
    margin-top: 5px;
    width: 100%;
}

.brawler-gallery-search-results {
    border: 1px solid rgba(200, 200, 200, 0.5);
    overflow-y: scroll;
    /* padding: 10px; */

    display: flex;
    flex-wrap: wrap;
}
.error { 
    background-color: #990000;
}

.gallery-item {
    /* height: 10%;
    width: 10%; */
    position: relative; /* when displaying list of brawlers to ban, this allows a red tint to appear */
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.gallery-item img {
    height: 100%;
}
/* Lighten up the brawler images when you hover over them.
   Makes it more clear that they can be clicked. */
.gallery-item:hover {
    filter: sepia(0%) saturate(100%) brightness(130%) hue-rotate(0deg);
}



.get-prediction-button {
    background-color: var(--tertiary-color);
    color: white;
    width: 100%;
    border: 1px solid var(--background-color);
    border-radius: 4px;
}
.get-prediction-button:hover {
    background-color: var(--quaternary-color);
}
.get-prediction-button-disabled {
    background-color: var(--tertiary-color);
    color: grey;
    width: 100%;
    border: 1px solid var(--background-color);
    border-radius: 4px;

}


.prediction-bar {
    position: relative;
    height: 30px;
    justify-content: space-between;
}

.blue-prediction-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2574E2;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}
.red-prediction-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.prediction-values {
    display: flex;
    justify-content: space-between;
}
.prediction-values p {
    display: inline;
    margin: 1px;
}

/* Displays the text 'Recommendation', 'Score' and 'Counter'*/
.ranked-prediction-box-header {
    height: 30px;
    width: 100%;
    display: flex;

    justify-content: space-between;
}

.ranked-prediction-box-header p {
    padding: 5px;
    margin: 0;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.confidence-text {
    width: 60px;
}

.confidence-text p {
    font-family: monospace;
    font-size: 16px;
}

.ranked-recommendation-top {
    margin-top: 5px;
    width: 100%;
}

.ranked-prediction-box {
    height: var(--prediction-box-height);
    width: 100%;
    display: flex;

    justify-content: space-between;
    position: relative;
}
.selectable-prediction-box:hover {
    background-color: var(--quaternary-color);
}

.left-prediction-image {
    height: var(--prediction-box-height);
}
.right-prediction-image {
    height: var(--prediction-box-height);
}

.prediction-box-left {
    width: var(--prediction-box-image-width);
    position: relative; /* allows for red tint for banned brawlers */
}
.prediction-box-right {
    width: 110px;
    text-align: right;
}
/* Mirror the image on the right side, so those characters are looking in the opposite direction */
.prediction-box-right img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* The box that holds the confidence bar */
.confidence-box {
    flex-grow: 1;
    height: 100%;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.confidence-header {
    flex-grow: 1;
    height: 100%;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

/* The actual blue display */
.friendly-confidence-bar {
    background-color: #619eff;
    height: 100%;
}
.enemy-confidence-bar {
    background-color: #f50202;
    height: 100%;
}
@media(prefers-color-scheme: dark){
    .friendly-confidence-bar {
        background-color: #245687;
        height: 100%;
    }
    .enemy-confidence-bar {
        background-color: #660000;
        height: 100%;
    }
}


/* The text that say BANNED, PICKED, or NOT CONSIDERED */
.confidence-box p {
    margin: 12px 0px 12px 6px;
    font-size: var(--confidence-box-font-size);
    color: grey;
}


/* background colors that vary based off of who the engine is recommending for (either enemy or friendly) */
.enemy {
    background-color: /*#ff0320*/ #fa0a0a;
}

.friendly {
    background-color: #b8d1ff;
}
@media (prefers-color-scheme: dark) {
    .enemy {
        background-color: #4d0218;
    }
    
    .friendly {
        background-color: #003c66;
    }
}

.red-tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5); 
    pointer-events: none;
}
.dark-red-tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.2); 
    pointer-events: none;
}
.gray-tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    pointer-events: none;
}