/* Font */
.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Make inputs / buttons inherit the font */
input, button {
    font-family: inherit;
}

body {
    font-family: Lexend;
    color: white;
    background-color: #222;
    margin: 0
}

h1 {
    font-size: 30px;
}
p {
    font-size: 22px;
}

/* Makes text elements unselectable */
.unselectable {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Give all inputs an effect when selected */
input:focus {
    border-color: white;
    outline: none; 
}

.main {
    display: flex
}
  

/* LEFT SIDEBAR */

.sidebar {
    width: 300px;
    background-color: #1a1a1a;
    padding: 15px;
    position: fixed;
    height: 100%; 
    overflow-y: auto; 
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-page-selector {
    background-color: #222;
    border-radius: 8px;
    font-weight: 300;
    padding: 3px;
}
.sidebar-page-selector.active {
    background-color: #333;
}

@media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%); /* Move out of view by default on mobile */
    }
    .sidebar.open {
      transform: translateX(0); /* Slide in on mobile when open */
    }
  }
  

.toggle-button {
    display: none;
    margin-bottom: 20px;
}
  
@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }
}

.input-page {
    flex-grow: 1;
    margin-left: 330px; /* Adjust for fixed sidebar width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:max-content
}

.empty-space {
    height: 500px;
}

/* make the sections within the map select div show side by side */
.section {
    background-color: #333;
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px
}

/* Sections for Ranked Prediction screen behave differently */

.section-active {
    background-color: #333;
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px;
    border: 1px solid #555;
}

.section-inactive {
    background-color: #333;
    border-radius: 7px;
    margin: 6px;
    width: 100%;
    max-width: 700px;
}
.section-inactive p {
    color: #666
}



/* @media (min-width: 1000px) {
    .section {
        width: 700px
    }
} */

.section-upper-part {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
}

.section-upper-part-left {
    display: flex;
    flex-direction: row;
    padding: 6px;
    justify-content: space-between;
}

.section-upper-part-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3px;
    border-radius: 8px;

    color: #bbb;
}
.section-upper-part-right:hover {
    background-color: #444;
}

.section-upper-part p {
    margin: 5px;
}

/* Map search functionality */
.section-lower-part {
    padding: 3px;
    display: flex;
    flex-direction: column;       
    justify-content: center; 
}

.search-bar {
    background-color: #333;
    color: white;
    width: 98%;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.5);
    border-radius: 2px;
    padding: 4px 3px;
    font-size: 18px;
}

.map-search-result-box {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.map-search-result {
    background-color: #444;
    transition: background-color 0.2s ease; /* Smooth transition */
    margin: 2px 0px;
    border-radius: 4px;
    align-items: center;
}

.map-search-result:hover {
    background-color: #555;
}

.map-search-result p {
    padding-left: 3px;
    margin: 0;
}
.map-search-result img {
    padding-right: 3px;
}


.map-select-div-left-side {
    width: 220px;
}

.map-select-div-right-side {
    height: 120px;
}

.map-search-result {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.map-search-result img {
    height: 100%;
}

/* RANKED - First pick section */


.first-pick-section {
    display: flex;
    justify-content: space-evenly;
}
.thumb-div {
    width: 80px;
    padding: 4px;
    margin: 4px;
}
.selected-thumb {
    width: 80px;
    background-color: #444;
    border-radius: 6px;
}
.unselected-thumb {
    width: 80px;
}
.thumb-div img {
    width: 100%;
}
.thumb-div p {
    margin: 3px;
    text-align: center;
}

/* bans section */
.ban-box {
    width: 65px;
    height: 85px;
    transition: transform 0.15s ease-in-out;
    overflow: hidden;
    z-index: 0;
}
.ban-box img {
    height: 65px;
}


/* Brawler section */

/* Animation for player boxes when selected */
@keyframes tint-pulse {
    0%, 100% {
        filter: sepia(0%) saturate(100%) brightness(60%) hue-rotate(0deg);
    }
    50% {
        filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
    }
}
.selected {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(210deg);
    animation: tint-pulse 1s infinite;
}
.unselected {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
}


.teams {
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; /* 6th box is pushed back otherwise */
}


.team-div {
    /* width: 183px; */
    padding: 3px;
}

.blue-team {
    background-color: #2574E2;
    border-radius: 4px 0px 0px 4px;
    justify-content: flex-end;
}
.red-team {
    background-color: red;
    border-radius: 0px 4px 4px 0px;
}

/* The box that the user clicks on to select a brawler */
.entry-box {
    width: 65px;
    height: 65px;
    transition: transform 0.15s ease-in-out;
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.entry-box:hover {
    transform: scale(1.05); /* Adjust the scale factor as needed */
    z-index: 1;
}

/* Make the brawler icon fit to the box*/
.entry-box img {
    height: 100%;
}

/* MiniBanBox: what is shown when the bans section is hidden */
.mini-ban-boxes {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    height: 100%;
}
.mini-ban-box {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: 1px solid red;
    position: relative;
}
.mini-ban-box img {
    height: 100%;
}
.red-tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5); 
    pointer-events: none;
}



.team-div {
    display: flex;
    flex-direction: row;
}

.temp-input-box {
    width: 100%;
}

.brawler-gallery {
    margin-top: 5px;
    width: 100%;
}

.brawler-gallery-search-results {
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    /* height: 10%;
    width: 10%; */
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.gallery-item img {
    height: 100%;
}



.get-prediction-button {
    background-color: #444;
    color: white;
    width: 100%;
    border: 1px solid #222;
    border-radius: 4px;
}
.get-prediction-button:hover {
    background-color: #555;
}
.get-prediction-button-disabled {
    background-color: #444;
    color: grey;
    width: 100%;
    border: 1px solid #222;
    border-radius: 4px;

}


.prediction-bar {
    position: relative;
    height: 30px;
    justify-content: space-between;
}

.blue-prediction-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2574E2;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}
.red-prediction-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.prediction-values {
    display: flex;
    justify-content: space-between;
}
.prediction-values p {
    display: inline;
    margin: 1px;
}